.footer {
    margin : 0 10rem ;
    margin-top: 2rem;
    height :50vh;
    box-sizing: border-box;
    min-height: fit-content;
    display : flex ;
    flex-direction : column ;
    justify-content : center ;
}

.title {
    font-size: calc(1.2rem + 1vw);
    font-weight: 700;
    margin : 0;
}

.text {
    font-size : calc(0.9rem + 0.5vw);
    margin : 1rem 0 ;
    opacity : 0.8 ;
    line-height: 1.5;

}

.links a { 
    //color : #06b6d4 ;
    color : black ;
    font-weight : 700 ;
    text-decoration : none ;
    text-decoration-color: white ;
    transition: all 300ms ease ;
}
