section {
    margin : 0 10rem ;
    box-sizing: border-box;
    min-height: fit-content;
}

@media screen and (max-width: 768px) {
    section {
        margin : 0 5% ;
    }
}

#about {
    display: flex;
    flex-direction: column;
    height: 80vh;
    justify-content : center ;
    gap : 2rem ;
 
}

#projects {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height : auto;
}

.content {
    flex: 1 0 auto;
}

#loading {
    text-align: center;
    font-size: calc(1rem + 1vw);
}