section {
    margin : 0 10rem ;
    box-sizing: border-box;
    min-height: fit-content;
}

#about {
    display: flex;
    flex-direction: column;
    height: 80vh;
    justify-content : center ;
    gap : 2rem ;
 
}

#projects {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height : auto;
}

.content {
    flex: 1 0 auto;
}