/*
  Global Styles
*/


@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

html ,body {
  magrin: 0;
  padding: 0;
  font-family : raleway, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-optical-sizing: auto;
}



